[submodule "embassy"]
    path = embassy
    url = https://github.com/embassy-rs/embassy.git
[submodule "bq76920"]
	path = bq76920
	url = https://github.com/IvanLi-CN/bq769x0-async-rs.git
[submodule "sc8815"]
	path = sc8815
	url = https://github.com/IvanLi-CN/sc8815-rs.git
[submodule "tca6408a-async"]
    path = tca6408a-async
    url = ../tca6408a-async-rs
