debug/
target/
target-warn/
logs/
Cargo.lock

/.idea
.serena/

.DS_Store
*.FCBak
*.bak

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*/target-off/
downloads/
tmp/

# Local flashing caches
.stm32-probe
.stm32-port
.esp32-port

# Local virtual environments
.venv/
