[submodule "embassy"]
    path = embassy
    url = https://github.com/embassy-rs/embassy.git
[submodule "bq76920"]
	path = bq76920
	url = git@github.com:IvanLi-CN/bq769x0-async-rs.git
[submodule "bq25730"]
	path = bq25730
	url = git@github.com:IvanLi-CN/bq25730-rs.git
[submodule "sc8815"]
	path = sc8815
	url = git@github.com:IvanLi-CN/sc8815-rs.git
